*{
    margin: 0;
    padding: 0;
}

/* p.pictures {
    width:200px;
} */
/* nav{
    margin: 0;
    padding: 0;
} */
img {
    /* width: 300rem; */
    width: 120rem;
    height: 100px;
    margin: 0;
    padding: 0;
    border: 2px solid red;
    border-radius: 10px;
    width: 100%;
}

ul.nav_size {
    display: flex;
    justify-content: center;
    top: 100%;
}

ul.nav_size li {
    list-style-type: none;
    text-transform: capitalize;
    background-color: rgb(233, 231, 111);
    padding: 25px 50px;

}

ul.nav_size li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 42px;
    display: inline-block;
}

ul.nav_size li:hover {
    background-color: bisque;
    
}

ul.nav_size li:hover a{
    color: rgb(189, 34, 60);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
ul.nav_size li.option {
    position: relative;
}
ul.option2 {
    display: none;
    position: absolute;
    top: 100%;
}
ul.option2 li {
    margin: 0;
    padding: 0;
}

ul.nav_size li:hover ul.option2{
    display: inline-block;
}

ul.option2 li:hover a{
    background-color: black;
    color: azure;
    font-size: 35px;
}

li.mor-num {
    position: relative;
}

ul.more-num {
    display: none;
    position: absolute;
    top: 100%;
}

ul.more-num li {
    font-size: 35px;
}

ul.nav_size li:hover ul.option2 li:hover ul.more-num{
    display: inline-block;
}





